@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p> To keep this site's privacy policy strictly secure, this site is only intended to be used by digital forensic investigators or approved employees by this department. Thank you.</p>
